<p>index works!</p>
<div nz-row>
  <div nz-col nzSpan="8">
    <input nz-input placeholder="origin" [(ngModel)]="filters['origin']" />
  </div>
  <div nz-col nzSpan="8">
    <input nz-input placeholder="like_title" [(ngModel)]="filters['like_title']" />
  </div>
  <div nz-col nzSpan="8">
  <button nz-button nzType="text" (click)="getData(1)">搜索</button>
</div>
</div>
<nz-table
  #basicTable
  [nzData]="rooms"
  [nzFrontPagination]="false"
  [nzPageSize]="size"
  [nzTotal]="total"
  [nzPageIndex]="page"
  (nzPageIndexChange)="onPageChange($event)"
>
  <thead>
    <tr>
      <th>title</th>
      <th>origin</th>
      <th>house_layout</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.title }}</td>
      <td>{{ data.origin }}</td>
      <td>{{ data.house_layout }}</td>
      <td>
        <button nz-button nzType="text" (click)="toDetail(data)">详情</button>
      </td>
    </tr>
  </tbody>
</nz-table>
