.header {
  margin-bottom: 10px;
  text-align: right;
}

.filters {
  display: flex;
  flex-wrap: wrap;

  .filter {
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;

    .filter-label {
      width: 80px;
      text-align: right;
      margin-right: 10px;
    }

    .filter-input {
      width: 220px;

      [nz-input] {
        width: 100%;
      }
      nz-select {
        width: 100%;
        max-height: 32px;
      }
      nz-input-group {

        .group-input-left {
          width: 90px;
          text-align: center;
        }

        .group-input-center {
          width: 30px;
          text-align: center;
          border: none;
          pointer-events: none;
          background-color: transparent;
        }

        .group-input-right {
          width: 90px;
          text-align: center;
        }
      }
    }
  }
  .filter.nz-date-picker {
    width: 480px;
    .filter-input {
      width: 380px;
      nz-input-group {
        .group-input-left {
          width: 175px;
        }
        .group-input-right {
          width: 175px;
        }
      }
    }
  }
}

.filters-submit {
  text-align: right;
  margin-bottom: 20px;

  [nz-button] {
    width: 120px;
  }
}

.table-expand {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  
  nz-descriptions {
    margin: 10px 0 20px 0;
  }
}
